* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin-top: 4rem;
    background-color: aliceblue;
    height: 200vh;
}

/* navbar */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* z-index: 1; */
    /* border-radius: 0.5rem; */
    /* margin: 0.5rem 0.5rem; */
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
}

.nama {
    margin-left: 5rem;
    color: #2279fd;
}

.burger-btn {
    background-color: aliceblue;
    height: 3rem;
    width: 3rem;
    border-radius: 0.3rem;
    border: none;
    box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 32px 31px rgba(0, 0, 0, 0.06);
}

.burger-btn:hover {
    border: #5b9bfc;
}

.burger-btn:active {
    scale: 1.1;
}

.navbar-btn:hover {
    text-decoration: underline;
    background-color: #2279fd;
}

.nama {
    text-align: center;
}

@media (max-width: 600px) {
    .nama {
        display: flex;
        margin-left: 0.5rem;
    }
}

/* navbar end */

.foto {
    background-color: #76a8f3;
}

.foto img {
    user-select: none;
    margin-top: 2rem;
}